
<launch>

  <node name="rotation_estimator" pkg="rotation_estimator" type="rotation_estimation" output="screen">
    <param name="yaml" type="string" value="$(find rotation_estimator)/config/config_rot.yaml" />
    <param name="output_dir" type="string" value="$(find rotation_estimator)/data/poster_rotation" />
  </node>
</launch>
